{% extends "base.html" %}
{% block content %}
<br><br>
  <div class="container">
    <div class="row">
      <div class="col-3">
        <div class="list-group" id="list-tab" role="tablist">
          {% for project in projects %}
            <a class="list-group-item list-group-item-action" id="list-home-list" data-toggle="list" href="{{ project.url }}" role="tab" aria-controls="home">{{ project.topic }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col-9">
        <div class="tab-content" id="nav-tabContent">
          {% for project in projects %}
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">{{ project.description }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}