{% extends "base.html" %}

{% block content %}
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
      <ul class="navbar-nav bd-navbar-nav flex-row">
          <li class="nav-item"><a class="nav-link active" href="/index">Welcome</a></li>
          <li class="nav-item"><a class="nav-link" href="/design">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">Resume</a></li>
          <li class="nav-item"><a class="nav-link" href="/portfolio">Portfolio</a></li>
      </ul>
  </div>
  <!--
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
          <a class="nav-link" href="/design" tabindex="-1" aria-disabled="true">Design<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link disabled" href="weblab" tabindex="-1" aria-disabled="true">WebLab</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="sketch" tabindex="-1" aria-disabled="true">Sketch</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="photography" tabindex="-1" aria-disabled="true">Photography</a>
      </li>
      <li class="nav-item">
          <a class="nav-link disabled" href="adventure" tabindex="-1" aria-disabled="true">Adventure</a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">About</a>
      </li>
      </ul>
  </div>
  -->
</header>
<br><br>
  <div class="container">
    <div class="row">
      <div class="col-10 center-me">
        <div class="card">
          <div class="card-header">
            <h1 style="color: #585858; padding-bottom: 0; border-bottom: 0">🎉 欢迎</h1>
          </div>
          <div class="card-body">
            <p>
              你好，我是Shing<br>热爱设计，喜欢编程，手残 maker<br>乐观的悲观主义者，Valar Morghulis 废物实验人<hr>欢迎来到废物实验星云<br>快利用上方的导航栏，看看我都搞了什么废物吧
            </p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}