{% extends "base.html" %}

{% block content %}
<br><br>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h1>🎉 欢迎</h1>
          </div>
          <div class="card-body">
            <p>
              你好，我是Shing<br>随意活着死也可以的废物实验人<hr>欢迎来到废物实验星云<br>快利用上方的导航栏，去看看我都搞了什么废物吧
            </p>
            <p>Second test the workflow on github.</p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}