{% extends "base.html" %}

{% block content %}
<br><br>
  <div class="container">
    <div class="row">
      <div class="col-10 center-me">
        <div class="card">
          <div class="card-header">
            <h1 style="color: #585858; padding-bottom: 0; border-bottom: 0">🎉 欢迎</h1>
          </div>
          <div class="card-body">
            <p>
              你好，我是Shing<br>热爱设计，喜欢编程，手残 maker<br>乐观的悲观主义者，生也好死也罢的废物实验人<hr>欢迎来到废物实验星云<br>快利用上方的导航栏，去看看我都搞了什么废物吧
            </p>
          </div>
      </div>
    </div>
  </div>
{% endblock %}